* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: rgb(181, 94, 119);
}
nav {
  width: 100%;
  height: 90px;
  background-color: rgb(246, 49, 95);
  display: flex;
  align-items: center;
  padding: 0px 150px;
}
#logo {
  width: 120px;
  height: 120px;
}
.input {
  display: flex;
  padding: 0px 200px;
}
input {
  width: 350px;
  height: 35px;
}
i {
  background-color: rgb(9, 9, 8);
  color: #fff;
  padding: 9px;
  margin-left: -30px;
  height: 17px;
}
.cart {
  display: flex;
  padding: 0px 250px;
  height: 40px;
  width: 30px;
}
.cart img {
  padding-left: 10px;
}

.cart img {
  cursor: pointer;
}

/* for small screens */
@media (max-width: 100px) {
  nav {
    width: 100%;
    height: 50px;
    background-color: rgb(246, 49, 95);
    display: flex;
    align-items: center;
    padding: 0px 80px;
  }
  #logo {
    width: 100px;
    height: 100px;
  }
  .input {
    display: flex;
    padding: 0px 200px;
  }
  input {
    width: 250px;
    height: 30px;
  }
  i {
    margin-left: -20px;
    padding: 7px;
  }
  .cart {
    padding: 0px 20px;
    height: 20px;
    width: 20px;
  }
  .cart img {
    padding-left: 7px;
  }
}

/* for mobile screens */
@media (max-width: 400px) {
  nav {
    width: 100%;
    height: 50px;
    background-color: rgb(246, 49, 95);
    display: flex;
    align-items: center;
    padding: 0px 5px;
  }
  #logo {
    width: 80px;
    height: 80px;
  }
  .input {
    display: flex;
    padding: 0px 15px;
    padding-top: 10px;
  }
  input {
    width: 150px;
    height: 20px;
  }
  i {
    background-color: transparent;
    color: black;
    padding-top: 1px;
    margin-left: -25px;
    height: 15px;
  }
  .cart {
    padding: 0px 15px;
    width: 15px;
    height: 15px;
  }
  .cart img {
    padding-left: 15px;
  }
}
